<html>

<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<script type="text/javascript" src="data/data.js"></script>
<title>VTest</title>
    <style type="text/css">
        #Button1
        {
            height: 40px;
            width: 165px;
        }
    </style>
</head>

<body topmargin="20%">

<div align="center">

<table border="1" width="498" height="48" bordercolorlight="#99CCFF" bgcolor="#F2F9FF" bordercolordark="#99CCFF" bordercolor="#99CCFF">
	<tr>
		<td height="48" width="488">

<br>
<p align=center><b><font size="4"><script language="javascript">document.writeln(strTitle)</script></font></b></p>
<hr width="50%">
<p align=center>Môn : <script language="javascript">document.writeln(strSubject)</script></p>
<p align=center>Th&#7901;i gian : <script language="javascript">document.writeln(nTime)</script> phút</p>
<p align=center><script language="javascript">if (otherInfo!="") document.writeln("Thông tin thêm : "+otherInfo)</script></p>
<p align="center">
<script language="JavaScript">
function pop_up()
{
    window.open("data/quiz.htm", "VTest", "status=no,resizeable=no,menubar=no,toolbar=no");
}
</script>
    <input id="Button1" type="button" 
        value="B&#7855;t &#273;&#7847;u làm bài thi" onclick="pop_up()"/><br />
                <br />
            </p>

		</td>
		</tr>
	</table>

</div>

</body>

</html>